h1{
    height: 100px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner2{
    height: 60px;
    width: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height:90%;
    width: 100%;

}